@font-face{
  font-family: 'Maiandra';
  src: url('assets/fonts/MAIAN.TTF') format('truetype')
}

body, p, h1, h2{
  font-family: 'Maiandra';
  color: black;
}

a{
  margin-top: 7px;
  color: black;
}

#footerDiv{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact{
  height: max-content;
  width: max-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
}

#homedisplay{
  height: 94vh;
  overflow-y: hidden;
}

#HomeCard{
  position: absolute;
  bottom: 500px;
  right: 240px;
  width: max-content;
  height: max-content;
  background-color: rgba(250, 235, 215, 0.418);
}

#HomeCard2{
  position: absolute;
  bottom: 100px;
  right: 40px;
  width: max-content;
  height: max-content;
  background-color: rgba(250, 235, 215, 0.418);
}

#hometitle{
  text-align: center;
  width: max-content;
  font-size: 75px;
  color: black;
}

#hometitle2{
  text-align: center;
  width: max-content;
  font-size: 55px;
  color: black;
}

#navbar{
  height: 40px;
  display: flex;
  justify-content: space-around;
}

#aboutpage{
  
  display: flex;
  flex-direction: column;
  width: 97%;
  height: max-content;
  padding-left: 20px;
  padding-right: 20px
}

#pricingDiv{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.alignmentClass{
  margin-left: auto;
  margin-right: auto;
}

.smimages{
  width: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

#promoBox{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.smimages2{
  width: 125px;
  margin-left: 30px;
  margin-right: 30px;
}

#aboutTitle{
  font-size: 80px;
  margin-top: 30px
}

#activediv{
  border-radius: 15px;
  width: 80%;
  height: 220px;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  overflow: hidden;
}

#activeTitle{
  display: flex;
  flex-direction: column;
}